{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>



<div class="container" style="text-align:center; ">

<div class="row">

 {% for x in mylist_list %}

 <div class="col-md-12" style="text-align:center; background-color:white">

 <div class="card" style="width: 50%; height: 50%;text-align:center">



<img class="card-img-top" src="{{x.url}}" alt="Card image cap" style="width:100%;text-align:center">

<div class="card-body" style="text-align:center;text-align:center">

<h5 class="card-title">Title:-{{x.subject}}</h5>
<p class="card-text"> Description:- {{x.msg}}</p>
<p class="card-text">Price:- {{x.current_price}}$ </p>
<p class="card-text">{{x.date_posted}}</p>
<p class="card-text"> Uploaded By - {{x.uploaded_by}}</p>
<p class="card-text"><a href="{%url 'p1' x.id %}">Read more!</a> </p>

{% load crispy_forms_tags %}
<form method="post" style="margin-top: 1.3em;">
          {{ form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Bid</button>
 </form>



</div>
</div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
